pkgbase = mingw-w64-curl
	pkgdesc = An URL retrieval utility and library (mingw-w64)
	pkgver = 8.22.0
	pkgrel = 1
	url = https://curl.se
	arch = any
	license = curl
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	depends = mingw-w64-libidn2
	depends = mingw-w64-libpsl
	depends = mingw-w64-libssh2
	depends = mingw-w64-openssl
	depends = mingw-w64-libnghttp2
	depends = mingw-w64-zstd
	depends = mingw-w64-brotli
	depends = mingw-w64-zlib
	options = staticlibs
	options = !strip
	options = !buildflags
	source = https://curl.se/download/curl-8.22.0.tar.xz
	source = https://curl.se/download/curl-8.22.0.tar.xz.asc
	source = nghttp2-static.patch
	validpgpkeys = 27EDEAF22F3ABCEB50DB9A125CC908FDB71E12C2
	sha256sums = f7ef3ae8a22e521f289803fe93543eb64c329b58aa73a9e224dfd915a2a5f4f7
	sha256sums = SKIP
	sha256sums = 9c49a8e082394114c49694bf86da118dcd1860791f3cfe23a8e3ac19bf4660bb

pkgname = mingw-w64-curl
