pkgbase = mingw-w64-environment
	pkgdesc = Script providing common environment variables and functions for MinGW (mingw-w64)
	pkgver = 1
	pkgrel = 7
	url = https://fedoraproject.org/wiki/MinGW
	arch = any
	license = BSD
	source = mingw-env.sh
	sha256sums = b35d6756e27236749991245df416e261461033ca745ed2e2f8dc9c181cc90709

pkgname = mingw-w64-environment
